name: Generate SRC Mapping

on:
  schedule:
    - cron: '0 4 * * 1'  # Every Monday at 04:00 UTC
  workflow_dispatch:

jobs:
  generate-src:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install packages
        run: |
          pip install requests

      - name: Run script
        run: |
          python generate_src_mapping.py

      - name: Push changes
        run: |
          git config user.email "ekekaz@gmail.com"
          git config user.name "Belfagor2005"
          git pull origin main
          git add src_mapping.txt
          git commit -m "Update SRC map" || echo "No changes"
          git push origin main
